@import "pages/auths/base";
@import "pages/errors/base";
// @import "pages/misc";

//
.dashboard {
  .nk-ecwg {
    .amount {
      font-size: 28px;
    }
  }
  .chart_body {
    overflow: auto;
  }
  @include media-breakpoint-down(sm) {
    .chart-view {
      width: 500px;
    }
  }
}
.user-avatar {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .logo-img {
    max-height: 56px;
  }
  .nk-sidebar {
    &.is-compact:not(:hover) {
      .logo-img {
        max-height: 36px;
      }
    }
  }
}

.logo-img-xl {
  max-height: 100px;
  @include media-breakpoint-down(lg) {
    max-height: 60px;
  }
}

// sidebar - css

.nk-sidebar-head {
  padding: 14px 18px;
}

//
.questionnaire {
  .box {
    border: 1px solid #dbdfea;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin-top: 15px;
  }
  .action {
    position: absolute;
    right: 10px;
    top: -17px;
    a {
      background-color: $white;
      height: 35px;
      width: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 50%;
      font-size: 16px;
      .ni-cross {
        color: red;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .action {
      a {
        height: 30px;
        width: 30px;
        font-size: 14px;
      }
    }
  }
}

//step form
.stepForm {
  fieldset{
    &:not(:first-of-type) {
      display: none;
    }
  }
  &_nums {
    font-size: 18px;
    font-weight: 700;
    sub {
      font-size: 14px;
      font-weight: normal;
    }
  }
  @include media-breakpoint-down(sm){
    &_nums {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}

// notification read more btn
.readMoreNotification {
    background-color: transparent;
    border: 0;
    color: $accent-color;
    &:hover {
        color: #ca01f1;
    }
}
.notification-link{
    color: #526484;
    &:hover{
        color: $accent-color;
    }
}

.reportsAnalytics {
  .dataTables_filter,
  .datatable-filter {
    display: none;
  }
  .paging_simple_numbers,
  .dataTables_info {
    display: none;
  }
}
