///Upload Photos
.uploadPhoto {
    width: 110px;
    height: 110px;
    .img-box {
        img {
            height: 100%;
			width: 100%;
			object-fit: cover;
        }
    }
    label {
        height: 30px;
        width: 30px;
        background: $primary;
        cursor: pointer;
        bottom: 7px;
        right: -1px;
        color: $white;
        input[type="file"] {
            display: none;
        }
        em{
            font-size: 14px;
        }
    }
}

///For Tabs table and Filter
.nk-block-head-content-tabs{
    .nk-block-tools{
        display: none;
        &.active{display: flex;}
    }
}

//Scrollbar
::-webkit-scrollbar {
    width: 6px;height: 6px;
    @media (max-width: 991px){
        width: 4px;height: 4px;
    }
}
::-webkit-scrollbar-track {
    box-shadow: none;
	background-color: #e2e5e6;
}
::-webkit-scrollbar-thumb {
    box-shadow: none;
	background-color:$primary;
}
// geoareaMap
.geoareaMap{
    height:480px;
    // media
    @include media-breakpoint-down(lg){
        height:360px;
    }
    @include media-breakpoint-down(sm){
        height:320px;
    }
    // media !!
}

.tinymce-toolbar-arabic{
    + .tox-tinymce{direction: rtl;}
}

// range slider

.noUi{
    &-horizontal{
        height: 10px!important;
    }
    &-connect{
        background: #5d1d88!important;
    }
    &-handle{
        width: 30px!important; height: 30px!important; border-radius: 50%!important; top: -11px!important;
        &:before{
        left: 10px!important;
        top: 6px!important;
        }
    }
}

.filter-wg{
    overflow: visible;
    .dropdown-body{overflow: visible !important; max-height: inherit !important; }
}

.card+.card:not(.card .card+.card){
    @include media-breakpoint-down(lg){
        margin-top: 15px;
    }
}

.nk-content{
    @include media-breakpoint-between(sm, lg){
        padding: 15px;
    }
    @include media-breakpoint-down(xl){
        .page-title{
            font-size: 22px;
        }
    }
    @include media-breakpoint-down(lg){
        &-body {
            > .nk-block-head-sm{
                &:first-child {
                    padding-bottom: 15px;
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        .page-title{
            font-size: 1.3rem;
            &.nk-block-title{
                margin-bottom: 5px;
            }
        }
        // .nk-block-title{font-size: 17px; margin-bottom: 3px;}
    }
    @include media-breakpoint-down(sm){
        padding-top: 15px;
        padding-bottom: 15px;
        .page-title{
            font-size: 1.2rem;
        }
    }
}
.card{
    @include media-breakpoint-down(sm){
        .nav.nav-tabs {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: auto;
            padding-bottom: 5px;
            padding-left: 10px;
            .nav-link.active:after{display: none;}
        }
    }
}
.nk-block-tools-toggle .toggle-expand-content{
    @include media-breakpoint-down(sm){
        margin-left: -11px;
        margin-right: -11px;
    }
}


// remove box shadow for select2 //

.select2{
    &-container{
        &--default{
            .select2{
                &-selection{
                    &--single{
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

.custom{
    &-checkbox {
        .custom-control-input{
            &:indeterminate ~ {
                .custom-control-label{
                    &:before {
                        font-family: "Nioicon" !important;
                        content: "\eafa";
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $accent-color;
                        color: $white;
                        border-color: $accent-color;
                    }
                }
            }
            &:disabled:indeterminate ~ {
                .custom-control-label{
                    &:before {
                        background: transparent;
                        border-color: #dbdfea;
                    }
                }
            }
        }
    }
    &-control{
        &-input{
            &:focus{
                ~.custom-control-label{
                    &:before{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
// remove box shadow for data-table search box and select lenth//
.dataTables_wrapper {
    .form-control:focus{
        box-shadow: none;
    }
    .dataTables_filter {
        input:focus{
            box-shadow: none;
        }
    }
}

// product details

.mcq-head{
    font-size: 18px;
    font-weight: 500;
    color: #344357;
    margin-bottom: .5rem;
}
.box-shadow{
    transition: all 0.3s;
    &:hover{
        box-shadow: 0px 1px 6px 1px rgba(54,74,99,.1);
    }
}
.h-70{
    max-height: 70px;
}

// details page casrd-aside card height
.aside-menu{
    .card-aside{
        min-height: 100%;
    }
}
.custom-checkText{
    .custom-control-sm{
        .custom-control-label{
            font-size: 14px;
        }
    }
}
.w-140{
    width: 140px !important;
}
@include media-breakpoint-down(md){
    .ml-30{
        margin-left: 30px;
    }
}

//mobile screen menu btn responsive for listing pages
@include media-breakpoint-down(sm){
    .px-btn{
        padding: 7px 12px !important;
    }
    .btn-resize{
        padding: 7px 5px;
    }
    .content-center{
        justify-content: center;
    }
    .fs-resize{
        font-size: 13px;
        .icon+span{
            padding-left: 0;
        }
    }
    // for product details page//
    .product-inner{
        .card-inner{
            padding: 15px;
        }
    }
}

//upload file add icon//
.form-file-label::after {
    font-family: "Nioicon" !important;
    content: "\ec1d" !important;
}

// for role and permission model accordion bg//
.moduleSec_accordion{
    .accordion-item{
        background: #ebeef2;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px;
    }
}

// copy url link icon hover pointer
.cursor-pointer{
    cursor: pointer;
}

// for country code field width

.countryCode .select2{
    min-width: 80px !important;
    margin-right: 15px;
    max-width: 120px;
}

// Toggle For Page Tools (if we want to enable at breakpoint-MD)//
@include media-breakpoint-up(md){
    .nk-block-tools-md-toggle{
        .toggle-expand{
            display: none;
            &-content{
                display: block !important;
            }
        }
    }
}
@include media-breakpoint-down(md){
    .nk-block-tools-md-toggle{
        .toggle-expand-content{
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 99;
            padding: 0 $card-stretch-gap-x !important;
            background: $white;
            margin-left: - $card-stretch-gap-x;
            margin-right: - $card-stretch-gap-x;
            box-shadow: 0 20px 35px rgba($black,.2);
        }
        .nk-block-tools{
            padding-top: 20px;
            padding-bottom: 20px;
            &-opt{
                margin-left: auto;
            }
        }
    }
}
//end

@include media-breakpoint-down(lg){
    // dash board cards number font size
    .dashboardCardFont{
        .nk-ecwg .amount{
            font-size: 20px;
        }
    }
}

@include media-breakpoint-down(sm){
    // dash board cards number font size
    .dashboardCardFont{
        .nk-ecwg .amount{
            font-size: 18px;
        }
    }

    // product pages listig page padding for mobile screen
    .nk-content.product-page{
        padding: 15px;
    }
}


// notification content image

.nk-notification-icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
    }
}

//for modre data in list for breaking words
table.dataTable.nowrap .white_spaceWrap{
    white-space:break-spaces;
    word-break: break-all;
}

.addMoreBtn{
    width: 45px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebeef2;
    border-radius: 5px;
    border: 1px solid #dbdfea;
    color: #6e82a5;
    .icon{
        font-size: 28px;
    }
}

.customer_review{
    &:not(:last-child) {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    &:not(:first-child) {
        margin-top:16px;
    }
}

.disabledSubmitAnchorBtn {
   pointer-events: none;
   color: #999;
   text-decoration: none;
}

.disabled-input {
    border: 1px solid #b6c6e3;
}


//import error messsage modal
.productError{
    &_value{
        &:not(:last-child){
            margin-bottom: 5px;
        }
        span{
            font-size: 14px;
            display: flex;
            align-items: center;
            .icon{
                font-size: 20px;
                margin-right: 6px;
            }
        }
    }
}
